.Pagination {
  padding: 8px 0;
  &__list {
    width: 96%;
    margin: 0 auto;
    display: flex;
  }

  &__item {
    border: 1px solid rgb(178, 178, 178);
    border-radius: 4px;
    width: 40px;
    text-align: center;
    flex-shrink: 0;
    &-active {
      background-color: lightseagreen;
      color: #fff;
      font-weight: 700;
    }
  }

  &__link {
    width: 100%;
    display: block;
    padding: 10px;
    color: inherit;
  }
}
