.Pagination{
    padding: 8px 0;
    &__list{
        width: 96%;
        display: flex;
        margin: 0 auto;
    }
    &__item{
        box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
        border: 1px solid transparent;
        border-radius: 5px;
        line-height: 5px;
        width: 40px;
        flex-shrink: 0;
        transition: 0.2s;
        &:hover{
            scale: 1.1;
        }
        &-active{
            background-color: green;
            color: whitesmoke;
            font-weight: 700;
            text-shadow: 0 0 1px black;
        }
    }
    &__link{
        width: 100%;
        display: block;
        padding: 10px;
        color: inherit;
    }
}