.Title{
    letter-spacing: 2px;
    padding: 1em;
    border-radius: 12px;
    margin: 20px 0;
    &-dark{
        background-color: #1e272e;
        color: whitesmoke;
    }
    &-success{
        background-color: #05c46b;
        color: white;
    }
    &-warning{
        background-color: red;
        color: white;
    }
    &-left{
        text-align: left;
    }
    &-center{
        text-align: center;
    }
    &-right{
        text-align: right;
    }
}