.App {
  color: white;
  font-size: 22px;
  button {
    padding: 4px 8px;
    border: 0;
    margin-left: 15px;
    border-radius: 12px;
    color: white;
    background-color: #333;
    &:hover{
      background-color: #fff;
      color: green;
      scale: 1.1;
      border: 1px solid rgb(3, 79, 3);
    }
  }
  h1 {
    text-align: center;
  }
  &__buttons {
    margin-left: 20%;
  }
}
