.OneBLog{
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    p{
        width: 50%;
    }    
    span{
        color: rgb(4, 84, 32);
    }
    img{
        width: 600px;
        height: 300px;
    }
}