.App {
  padding-left: 16px;
  padding-right: 16px;
}

table {
  background-color: #323232;
  border-collapse: collapse;
  width: 80%;
  margin: 20px auto;
  tr {
    &.dublicate {
      animation: anima 700ms ease-in-out 0s 2 alternate both;
    }
  }
}

th,
td,
caption {
  padding: 1rem;
}

caption,
th {
  text-align: left;
}

caption {
  background: hsl(0 0% 0%);
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
}

th {
  background: hsl(0 0% 0% / 0.5);
  i {
    color: orange;
    font-size: 24px;
    position: relative;
    left: 16px;
    top: 3px;
    cursor: pointer;
  }
}

tr:nth-of-type(2n) {
  background: hsl(0 0% 0% / 0.1);
}

td {
  &.delete {
    button {
      border-radius: 50%;
      border: 0;
      background: inherit;
      cursor: pointer;
      i {
        color: rgb(161, 38, 79);
        font-size: 30px;
        &::before {
          transition: 0.2s;
        }
      }
      &:hover {
        i {
          &::before {
            color: rgb(245, 139, 174);
            scale: 1.2;
          }
        }
      }
    }
  }
}

@keyframes anima {
  0% {
    transform: scale(1) rotate(0deg);
  }

  50% {
    transform: rotate(3deg) scale(1.05);
    background-color: #bc1e1e;
  }

  100% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.02);
  }

  40%,
  60% {
    transform: rotate(-3deg) scale(1.02);
  }

  70% {
    transform: rotate(0deg) scale(1.02);
  }
}
