.array {
  background-color: rgb(231, 231, 231);
  padding: 50px;
  justify-content: center;
  align-self: center;
  margin: 50px auto;
  height: 500px;
  button {
    padding: 10px 30px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: 0;
    transition: 0.3s;

    &:hover {
      scale: 0.9;
      transition: 0.3s;
    }
  }
  &__buttons {
    display: flex;
    gap: 20px;
    padding: 40px;
    justify-content: center;
  }
  &__arr {
    background: #1d1d1d;
    color: white;
    padding: 20px;
    font-size: 20px;
    display: flex;
    justify-content: center;
  }
}
