.App {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 40px;
  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-radius: 12px;
    background-color: #e74c3c;
    transition: 0.3s;
    &-done {
      background-color: #2ecc71;
    }
    &:hover {
      scale: 1.03;
      cursor: pointer;
    }
  }

  &__deleteBtn {
    border-radius: 8px;
    padding: 4px 8px;
    color: #e74c3c;
    border: 0;
    background-color: white;

    &:hover {
      cursor: pointer;
    }
  }
}
