.App {
  max-width: 1440px;
  display: flex;
  &__form {
    margin-top: 30px;
    background-color: purple;
    width: 300px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    gap: 12px;
    background: linear-gradient(
      25deg,
      rgba(186, 85, 211, 1) 0%,
      rgba(148, 0, 211, 1) 33%,
      rgba(179, 55, 194, 1) 66%,
      rgba(223, 115, 255, 1) 100%
    );
    input,
    textarea {
      width: 70%;
      height: 30px;
      border: 0;
      border-radius: 6px;
      padding-left: 4px;
      &:focus {
        outline: 0;
        border: 0;
      }
     
      &[type="submit"]:hover {
        background-color: purple;
        color: white;
        border: 0;
      }
    }
    textarea {
        padding-top: 4px;
        height: 120px;
    }
    h2 {
      text-align: center;
      color: #fff;
    }
  }
  &__posts {
    padding: 1em;
    height: 600px;
    width: 60%;
    border-radius: 16px;
    margin-left: 60px;
    margin-top: 30px;
    display:flex;
    flex-wrap: wrap;
    gap: 14px;
    background: linear-gradient(
      25deg,
      rgba(186, 85, 211, 1) 0%,
      rgba(148, 0, 211, 1) 33%,
      rgba(179, 55, 194, 1) 66%,
      rgba(223, 115, 255, 1) 100%
    );
  }
  &__post{
    border: 1px solid white;
    border-radius: 16px;
    padding: 1em;
    color: white;
    width: 32%; 
    height: 45%; 
    font-size: 18px;
    font-weight: 600;
    position: relative;
    span{
        position: absolute;
        bottom: 0;
        right: 10px;
        font-size: 3em;
        font-weight: 800;
        user-select: none;
    }
  }
}