.App{
    color: white;
    padding-left: 16px;
    padding-right: 16px;
    &__form{
        width: 500px;
        margin: 20px auto;
        display: flex;
        gap: 12px;
        padding: 1em;
        align-items: center;
        input{
            padding: 0.6em 1rem;
            font-size: 20px;
            border: 0;
            border-radius: 4px;
            &:focus{
                outline: 2px solid royalblue;
                outline-offset: 2px;
            }
            &[type = 'submit']{
                background-color: rgb(103, 159, 20);
                color: white;
                font-weight: 700;
                cursor: pointer;
                font-variant: small-caps;
            }
        }
        &>div{
            display: flex;
            align-items: center;
            gap: 8px;
            font-size: 26px;
            & > label {
                display: flex;
                align-items: center;
                gap: 8px;
            }
        }
    }
}

table {
    background-color: #6a6767;
    border-collapse: collapse;
    width: 80%;
    margin: 20px auto;
    tr{
        &.dublicate {
            animation: anima 1s ease-in-out 
        }
    }
    }
    
    th,
    td,
    caption {
        padding: 1rem;
    }
    
    caption,
    th {
        text-align: left;
    }
    
    caption {
        background: hsl(0, 7%, 14%);
        font-size: 1.5rem;
        font-weight: 700;
        text-transform: uppercase;
    }
    
    th {
        background: hsl(0 0% 0% / 0.5);
    }
    
    tr:nth-of-type(2n) {
        background: hsl(0 0% 0% / 0.1);
    }


    td {
        &.delete{
            button{
                border-radius: 50%;
                border: 0;
                background: inherit;
                color: rgb(103, 30, 30);
                cursor: pointer;
            }
            i{
                font-size: 30px;
                transition: 0.2s;
            }
            &:hover{
                i{
                    &::before{
                        color: rgb(169, 16, 16);
                        scale: 1.1;                   
                    }
                }
            }
        }
        
    }


@keyframes anima {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.2);
        background-color: rgb(154, 41, 41);
    }
    100%{
        transform: scale(1);
    }
}