.Form{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
    padding: 16px;
    &__bio{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    &__info{
        padding: 15px;
        width: 350px;
    }
    &__items{
        display: flex;
        gap: 45px;
        box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
        padding: 25px;
        border-radius: 15px;
    }
    &__delete button{
        cursor: pointer;
        background: none;
        border: none;
        font-size: 22px;
        &:hover{
            color: rgb(201, 9, 9);
        }
    }
}