.Blog{
    display: flex;
    margin: 7% 0 0 0;
    gap: 25px;
    align-items: center;
    &__all{
        letter-spacing: 3px;
        gap: 35px;
        display: flex;
        flex-direction: column;
    }
    &__about{
        font-size: 25px;
    }
    &__photo > img {
        border-radius: 20px;
        box-shadow: 0 0 15px rgb(92, 92, 92);
        width: 750px;
    }
}