.App {
  padding: 1em;
  max-width: 1200px;
  margin: 0 auto;
  button {
    padding: 0.6rem 1rem;
    border-radius: 4px;
    font-weight: 700;
    cursor: pointer;
    margin: 20px;
    background-color: royalblue;
    color: #fff;
  }
}
