.About {
  width: 900px;
  margin: 100px auto;
  padding: 2em;
  background-color: #000;
  &__title {
    text-align: center;
    color: orange;
    margin-bottom: 20px;
  }
  &__content {
    display: flex;
    gap: 36px;
  }
  &__text {
    line-height: 1.6;
    font-size: 18px;
    padding: 1em;
    transition: 0.3s;
    &:hover {
      transform: scale(1.03);
      cursor: pointer;
    }
    &-dark {
      background-color: #222;
      border: 1px solid yellow;
      color: yellow;
    }
    &-light {
      background-color: #fff;
    }
  }
}
