*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

ul{
  list-style: circle;
}

body{
 background: rgb(2,0,36);
 background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(27,9,121,0.9585084033613446) 28%, rgba(0,212,255,1) 100%);
}

.container{
  max-width: 1440px;
}

.container h1{
  text-align: center;
  font-size: 32px;
  font-style: oblique;
  font-weight: 700;
  color: white;
}

img{
  width: 350px;
  margin-left: 15px;
  margin-right: 15px;
}

.content{
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  align-items: center;
  margin: 0px, 0px 0px, 20px;
}

.info{
  font-size: 16px;
  font-family: 'Times New Roman', Times, serif;
  font-style: oblique;
  color: white;
}

.info button{
  padding: 15px;
  margin-top: 15px;
  background-color: white;
  color: darkblue;
  font-size: 16px;
  font-style: oblique;
  border: 1px solid transparent;
  border-radius: 20px;
  box-shadow: 10px 5px 5px lightblue;
}

