body {
  background-color: #edf2f6;
  overflow: hidden;
}
.App {
display: flex;
justify-content: center;
align-items: center;
margin: 50px auto;
  img {
    width: 100%;
    object-fit: cover;
    height: 250px;
    border: 0;
    border-radius: 10px 10px 0px 0;
  }
  &__card {
    background-color: white;
    position: relative;
    border-radius: 10px;
    padding-bottom: 0;
    text-align: center;
    width: 450px;
    height: 610px;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    h3 {
      background-color: #1a202c;
      text-align: left;
      padding: 0.5em 20px;
      color: white;
    }
  }
  &__content {
    text-align: left;
    padding: 1.5em;
    ul{
        margin-top: 25px;
        li{
            cursor: pointer;
            padding: 5px;
            &:hover {
              i {
                color: blueviolet;
                transition: 0.2s ease-in-out;
              }
            }

        }
        i {
            cursor: pointer;
            color: #01698e;
            padding-right: 10px;
          }
    }
  }
  &__list {
    padding: 1em;
    ul {
      display: flex;
      align-items: start;
      justify-content: space-evenly;
      li {
        border-radius: 10px;
        background-color: #f1f1f1;
        width: 50px;
        height: 50px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        i {
          cursor: pointer;
          color: #01698e;
          font-size: 30px;
          transition: 0.2s ease-in-out;
        }
        &:hover {
          i {
            color: blueviolet;
            transition: 0.2s ease-in-out;
          }
        }
      }
    }
  }
  
}
