.ToDo {
    margin: 0 auto;
    h1 {
      text-align: center;
      color: rgb(39, 39, 150);
      font-size: 5em;
    }
    &__Items {
      margin-top: 30px;
    }
    &__item {
          
      &-green{
        background-color: green;
      }
      &-red{background-color: red;}
      
  
    }
  }