img {
    width: 350px;
}
body{
    /* background-color: rgb(30, 28, 28); */
    background-color: #1d1d1d;
    color: white;
}
.content {
    display: flex;
    justify-content: space-evenly;
    padding: 30px;
    gap: 30px;
    
    
}

.content p {
    
    line-height: 1.6;
    font-size: 20px;
    margin-bottom: 20px;
    text-indent: 20px;
    
}

.content ul{
    line-height: 1.6;
    font-size: 20px;
    margin-bottom: 20px;
    text-indent: 20px;
    margin-left: 20px;
}

.info{
    /* border: 2px solid red; */
    letter-spacing: 1px;
    
}

h1{
    text-align: center;
}

