.App{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    &__item{
    display: flex;
    gap: 10px;
    }
    h1{
        color: white;
        border-bottom: 2px solid orange;
    }
    img{
        width: 40%;
    }
    h2{
        color: white;
    }
    &__info{
        font-size: 18px;
        color: rgb(176, 176, 176);
        width: 45%;
    }
}
