.App {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  display: inline-flex;
  gap: 20px;
  justify-content: center;
  margin-top: 200px;
}
h2 {
  font-size: 25px;
  margin-top: -270px;
  margin-left: 19px;
  position: absolute;
}
p {
  font-size: 25px;
  margin-top: -220px;
  margin-left: 19px;
  position: absolute;
}
img {
  width: 400px;
  height: 300px;
}
