.About{
    background-color: rgb(44, 44, 44);
    padding: 30px;
}
.About h1{
    text-align: center;
    color: white;
}
.container{
    display: flex;  
    gap: 30px;
    padding: 50px;
}
img{
    width: 100%;
}
.left{
    width: 50%;
}
.right{
    width: 50%;
    display: flex;
    flex-direction: column;
    color: white;
    padding: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.right>p{
    margin-top: 15px;
}
.right ul{
    margin-top: 15px;
    list-style:disc;  
    padding: 15px;
    font-size: 15px;
}
li{
    margin-top: 5px;
}


