.Blog {
  max-width: 1440px;

  h1,
  h3 {
    text-align: center;
  }
  h1 {
    font-size: 36px;
    font-weight: 800;
    margin-top: 2px;
    margin-bottom: 30px;
  }
  h3 {  
    color: rgb(255, 0, 0);
    font-size: 16px;
    font-weight: 500;
  }
  &__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;
  }
  &__card {
    width: 30%;
    border: 1px solid rgb(181, 179, 179);
    background-color: #333;
    color: white;

    img {
      max-width: 100%;
    }
  }
  &__text {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 1.5em;
    p {
      font-size: 12px;
    }
   a{
    color: white;
   }
  }
  &__info {
    color: red;
  }
}
