.App{
    max-width: 1440px;
&__Comments{
    width: 600px;   
    height: 200px;
    
    display: flex;
    flex-direction: column;
    gap: 15px;
margin-top: 20px;
}
&__title{
    span{
        margin-right: 13px;
    }
}
}