.SingleBlog{
    display: grid;
    grid-template-columns: repeat(1fr, 300px);
    margin: 20px auto;
    gap: 20px;
    &__Element{
        h1 {margin-right: 20px;}
        img{
            width: 100%;
            display: inline-block;
            object-fit: contain;  
        }
    }
    &__desc{
        margin-right: 20px;
        padding: 1em;
        p{
            line-height: 1.5;
            font-size: 18px;
            margin: 16px auto;
        }
    }
}