@mixin mainFlex($jc,$ai,$gap ){
    display: flex;
    gap: $gap;
    justify-content: $jc;
    align-items: $ai;
    flex-wrap: wrap;
    flex-direction: row;
}
$block-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

.List {
    @include mainFlex( space-around, stretch, 32px );
    padding: 3em;
    &__item {
        padding: 4em;
        background-color: #ffff;
        color: black;
        border-radius: 12px;
        flex-basis: 70%;
        box-shadow: $block-shadow;
        position: relative;
        p {
            font-size: 24px;
            font-weight: 400;
        }
        h2{
            position: absolute;
            right: 10px;
            font-size: 18px;
            padding: 10px;
        }
    }

    &__copyBtn{
        position: absolute;
        border-radius: 10px;
        border: 0;
        background-color: royalblue;
        color: white;
        padding: 6px 10px;
        top: 0px;
        right: -1px;
        cursor: pointer;
        font-size: 16px;
    }
}