.Blog{
    margin:auto;
    h1{
        text-align: center;
        font-size: 45px;
        font-weight: 800;
    }
    &__content{
        display: flex;
        margin: 45px 0 0 0;
    }
    &__item{
        padding: 1em;
        margin: 15px;
        border-top-right-radius: 200px;
        flex-basis: 33%;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        align-items: space-around;
        gap: 25px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        transition: .3s;
        &:hover{
            scale: 1.03;
            transform: translateY(-15px);
        }
    }
    &__image{
        width: 100%;
        border-bottom-left-radius: 200px;
        border-top-right-radius: 200px;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    }
    &__ava{
        width: 50px;
        border-radius: 50%;
    }
    &__bio{
        display: flex;
        justify-content: space-between;
        align-items:center;
        a{
            color: blue;
            border-bottom: 2px solid blue;
            font-weight: 600;
        }
        a:hover{
            color: rgb(80, 80, 252);
        }
    }
    &__user{
        display: flex;
        align-items: center;
        gap: 8px;
    }
    &__paginate{
        display: flex;
        gap: 25px;
        justify-content: center;
        li{
            box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 60, 255, 0.3) 0px 7px 13px -3px, rgba(0, 13, 255, 0.2) 0px -3px 0px inset;
            border-radius: 12px;
            color: blue;
            font-weight: 700;
            padding: 0.5em;
            width: 50px;
            text-align: center;
            cursor: pointer;
            &:hover{
                background-color: rgb(127, 197, 255);
                color: white;
            }
        }
        li.selected{
            background-color: lightgreen;
            color: white;
            transition: .3s;
            &:hover{
                scale: 1.05;
            }
        }
    }
}