.Categories {
  color: azure;
  &__title {
    color: whitesmoke;
    font-size: 36px;
    margin-bottom: 15px;
    font-weight: bolder;
    &::after {
      content: "";
      height: 1px;
      background-color: orange;
      display: block;
      width: 14%;
    }
  }
  &__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    font-size: 24px;
  }
  &__item {
    display: flex;
    justify-content: center;
    color: rgb(179, 177, 177);
    gap: 24px;
  }
  &__textBox {
    display: flex;
    flex-direction: column;
    h2 {
      margin-bottom: 15px;
      color: white;
    }
    p {
      text-align: justify;
      font-weight: 600;
    }
  }
}
