.Pagineton {
  margin: 0 auto;
  padding: 8px 0;
  &__list {
    width: 96%;
    display: flex;
    margin: 0 auto;
  }
  &__item {
    border: 2px solid purple;
    border-radius: 6px;
    width: 40px;
    text-align: center;
    flex-shrink: 0;
    &:hover {
      background-color: purple;
      border: 2px solid white;
      a {
        color: white;
      }
    }
    &-active {
      background-color: purple;
      border: 2px solid white;
      a {
        color: white;
      }
    }
  }
  &__link {
    width: 100%;
    display: block;
    padding: 10px;
    color: purple;
  }
}
