.Card {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 60px auto;
  border: 2px solid rgb(103, 103, 103);
  border-radius: 15px;
  position: relative;
  background-color: pink;
  color: white;
  &__image {
    position: relative;
    width: 398px;
    height: 300px;
  }
  img {
    width: 398px;
    height: 300px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  &__status {
    position: absolute;
    bottom: 0;
    right: 0;
    background: #151428;
    color: white;
    display: block;
    height: 45px;
    width: 100%;
    i {
      margin-right: 15px;
      margin-left: 15px;
      font-size: 26px;
    }
  }
  &__info {
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
  }
  &__list {
    ul {
      margin-left: 10px;
    }
    li {
      i {
        margin-right: 15px;
        font-size: 19px;
      }
      margin-bottom: 10px;
    }
  }
  &__contact {
    padding: 1em;
    ul {
      display: flex;
      gap: 20px;
      align-items: start;
      justify-content: space-evenly;
      margin-bottom: 12px;
      li {
        border-radius: 15px;
        background-color: white;
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1em;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
        i {
          cursor: pointer;
          color: rgb(90, 127, 237);
          font-size: 18px;
        }
      }
    }
  }
}
