.Product{
    display: grid;
    grid-template-columns:2fr 2fr 2fr;
    place-items: center;
    gap: 20px;
    text-align: center;
    margin: 10px 0 0 0;
    &__wrapper{
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        padding: 20px;
        width: 450px;
        transition: .2s;
        &:hover{
            scale: 1.02;
        }
        img{
            width: 100%;
        }
        h2{
            font-size: 35px;
            border-bottom: 8px solid rgb(187, 0, 255);
        }
    }
    &__body1{
        font-size: 24px;
        font-weight: 100;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        letter-spacing: 2px;
        padding: 10px;
    }
    &__body2{
        color: greenyellow;
        font-size: 35px;
        font-weight: 600;
    }
    &__body3{
        font-size: 25px;
        text-align: left;
        color: rgb(255, 127, 127);
    }
    &__buy{
        border: 2px solid whitesmoke;
        text-decoration: none;
        padding: 5px 15px;
        background-color: white;
        color: black;
        font-weight: 700;
        border-radius: 7px;
        display: inline-block;
        transition: .3s;
        &:hover{
            scale: 1.03;
            font-weight: 700;
            background-color: gray;
            color: whitesmoke;
        }
    }
}