h1 {
    color: white;
    font-weight: 300;
    z-index: 1; /* Ensure the content is above the overlay */
    background-color: rgba(0, 0, 0, 0.566);
    padding: 0.4em 1em;
    width: 20%;
    text-align: center;
  }