.App{
    margin: 50px auto;
    position: relative;
}

.App__list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 28px;
    flex-wrap: wrap;
}

.App__list>div{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: whitesmoke;
    padding: 1em 2em;
    border-radius: 5%;
    outline: 4px solid rgb(0, 58, 128);
    outline-offset: 5px;
    flex-basis: 40%;
    height: 170px;
}

.App__list>div h2{
    font-weight: 400;
    margin-bottom: 10px;
}

.App__list>div button{
    width: 32px;
    height: 32px;
    border: 0;
    border-radius: 8px;
    background-color: orangered;
    color: white;
    grid-row: 700;
    cursor: pointer;
}

.Modal__button{
    border: 2px solid black;
    border-radius: 8px;
    padding: 20px;
}

.Modal__button-close{
    margin: 10px;
    padding: 7px;
    border-radius: 8px;
}

.Modal__button-delete{
    margin: 10px;
    padding: 7px;
    border-radius: 8px;
}

.Welcome__button{
    width: 100px;
    padding: 4px;
    background-color: rgb(255, 70, 70);
    color: whitesmoke;
}