@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,600;0,700;0,800;0,900;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1d1d1d;
  max-width: 1440px;
  overflow-x: hidden;

  margin: 0 auto;
  line-height: 1.5;
  font-family: "Montserrat", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.slick-slider {
  height: 500px;
  margin: 50px auto;
  background-color: white;
}

.slick-list {
  height: 100%;
}

.slick-track {
  height: 100%;
}

.slick-slide {
  transition: 0.5s;
}

.slick-slide > div {
  padding: 20px;
}
.slick-center > div {
  transition: 0.3s;
  border-radius: 10px;
  scale: 1.05;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.slick-slide.slick-center {
  padding: 26px;
}

.slick-slide:not(.slick-center) {
  filter: grayscale(100%) blur(3px);
  color: white;
  scale: 0.6;
}
