@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,600;0,700;0,800;0,900;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1440px;
  height: 100vh;
  margin: 0 auto;
  line-height: 1.5;
  font-family: "Montserrat", sans-serif;
  /* background: linear-gradient(
    25deg,
    rgba(186, 85, 211, 1) 0%,
    rgba(148, 0, 211, 1) 33%,
    rgba(179, 55, 194, 1) 66%,
    rgba(223, 115, 255, 1) 100%
  ); */
  /* background-color: #393838; */
  background-color: bisque;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.slick-slider {
  height: 500px;
}

.slick-list {
  height: 100%;
  width: 1220px;
  margin: 0 auto;
}

.slick-track {
  height: 500px;
}

.slick-slide {
  transition: 0.3s;
}

.slick-slide > div {
  border-radius: 16px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  margin: 15px;
  font-size: 18px;
}

.slick-prev,
.slick-next {
  width: 50px;
  height: 50px;
  top: 40%;
  
}
   
.slick-prev {
  left: 70px;
}

.slick-next {
  right: 70px;
}

.slick-prev::before,
.slick-next::before {
  font-size: 40px;
  color: black;
}
